<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="utf-8">
  <title>
    Databases Final Project - Earthquake Data
  </title>
  <input type="hidden" id="sendimpact" value="/impactsave">
  <input type="hidden" id="recentshome" value="/getrecents">
  <input type="hidden" id="searchbydate" value="/searchdate">
  <input type="hidden" id="searchbyid" value="/searchid">
  <input type="hidden" id="searchbyloc" value="/searchloc">
  <input type="hidden" id="deletebyid" value="/deleteid">
  <input type="hidden" id="updatebyid" value="/updateid">

  <link rel="stylesheet" type="text/css" href="../static/proj.css">
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
</head>
<body>
  <div id="main-root"></div>
    <script type = "text/javascript" src="../static/earthq.js"></script>
</body>
</html>
